@import "variables";

// sass-lint:disable no-qualifying-elements

/* For an example of the detail & summary tags in use, please see /handbook/marketing/growth-marketing/brand-and-digital-design/ */

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  margin: 0;
  vertical-align: middle;
}

details {
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

summary {
  color: $color-primary-alt;
  cursor: pointer;
}

details[open] > summary {
  margin-bottom: 24px;
}

// underline links by default in the content container and TOC only
.container.md-page {
  a:not(.btn) {
    text-decoration: underline;
  }

  .breadcrumb {
    a {
      text-decoration: none;
    }
  }
}

.domain-expertise {
  font-size: 0.8em;

  .domain {
    color: $color-orange;
  }
}

.mkt-row {
  padding-top: 20px;
  padding-bottom: 5px;

  a:focus {
    outline: none;
  }
}

.mkt-box {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;

  img {
    display: block;
    max-width: 30%;
    margin: 20px auto;
  }

  h4 {
    color: $color-accent;
    text-align: center;
  }

  &:hover {
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  }
}

.alert-purple {
  color: rgb(107, 79, 187);
  background-color: $color-white;
  border-color: rgba(107, 79, 187, 0.5);

  h3 {
    color: $color-primary;
  }

  &.center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.wide-sheet {
  width: 1300px;
}

.image-box img {
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
  margin: 40px auto;
}
