%tr
  %td.feature-in-list
    %p.feature-in-list-title
      %strong{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "right"}
        = feature.title
    .feature-links
      - if feature.link
        .feature-link
          %p
            = link_to "Feature Details", feature.link
      - if feature.docs_link
        .feature-link
          %p
            = link_to "Documentation", feature.docs_link
  %td.check-container.text-center
    = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_one) }
  %td.check-container.text-center
    = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_two) }
  %td.check-container.text-center
    = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_three) }
  %td.check-container.text-center
    = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_four) }
